*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html body{
    margin: auto; 
    font-family: Roboto; 
    background-color:#F6F8F9;
}
.main-container{
    width: 100%;
    margin: auto;
    border: 1px solid #d1d0d0;
    background-color:#FFFFFF;
    position: relative;
}
.header{ 
    margin: auto;
    text-align: center;
    border: 0.5px solid rgb(160, 155, 155);
    padding: 2%;
    background-color:#F9F8F9;
}
.main_table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}
.CreateFromBlank-text {
    margin: 3% 0 0 3%;
    font-weight: bold;
    font-size: 1.5vw;
}

.add_Parameter_popup{
    position: absolute;
    border: 1px solid;
    width: 20%;
    margin: auto;
    top:30%;
    left: 0;
    right: 0;
    display: none; 
    border-radius: 25px 25px 25px 25px;
}
.top{
    background-color:#FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px 25px 0px 0px;
    border-color: black;
    padding: 3%;
}

.middle{
    background-color: #FFFFFF;
    padding: 3%;
}
.middle p{
    align-items: center;
    font-size: 16px;
}
.bottom input[type="text"]{
    padding: 5px;
    
}
.add-icon{
    width: 33px;
    height: 33px;
} 
.bottom{
    background-color:#FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 37px 37px;
    padding: 4%;
}
.bottom button[type="button"]{
    border-radius: 29px;
    background-color: #32BDD2;
    color: #FFFFFF;
    padding:2% 3%;
    width: 60px;
    height: 30px;
    font-weight: bold;
    font-family: roboto;
    float: right;
}
.bottom a{
    letter-spacing: 1.2px;
    color: #5A5A5A;
    font-size: 1.1vw;
    font-weight: bold;
}
.bottom span{
    letter-spacing: 1px;
    color: #5A5A5A;
    font-size: .7vw;
    padding-top:2%;
   
}
.add_Product_popup{
    border: 1px solid;
    width: 20%;
    position: absolute;
    margin: auto;
    top:30%;
    left: 0;
    right: 0;
    display: none; 
    border-radius: 25px 25px 25px 25px;
    /* background:rgba(0, 0, 0,0.7) ;
    transition: opacity 500ms;
    opacity: 1; */
}
.table{
    margin: 0 0 0 6%;
}

/* .btn-edit {
    width: 30%;
    height: 5%;
    background-color: #32BDD2;
    margin-left: 25%;
}
.btn-delete{
    height: 5%;
    background-color: #32BDD2;
   
} */
button{
    margin-top:2px;
    background-color: #eee;
    border: 1px solid #00F
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

button[type="button"] {
    border-radius: 23px;
    background-color: #32BDD2;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}