*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.one{
    position: absolute;
    top: 20%;
    right: 30%;
    bottom: 20%;
    left: 30%;
    background-color: #FFFFFF;
    border:solid #962258;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

img{
    width: 5%;
    height: 5%;
}

p{
    text-align: left;
    color: #555454;
    font-size: 13PX;
    font-family: calibri;
    padding: 10;
}











