*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.one{
    position: absolute;
    top: 20%;
    right: 25%;
    bottom: 20%;
    left: 25%;
    background-color: #FFFFFF;
    border:solid #962258;
}

.sign-up-form{
    width:45%;
    background: #FFFFFF;
    margin: 10% auto 0;
    /* text-align: center; */
    height: 70%;
}
.sign-up-form h5{
    color: #555454;
}
.input-box{
    border-radius: 6px;
    border: 1px solid #999;
    width: 100%;
    float: center;
}
.signup-btn{
    background-color: #32BDD2;
    margin-top: 10%;
    border-radius: 21px;
    width: 30%;
    height: 12%;
    color: #FFFFFF;   
}
p{
    text-align: left;
    color: #555454;
    font-size: 13PX;
    font-family: calibri;
}
span{
    float: left;
    color: #421133;
    font-size: 12px;
    font-family: calibri;
}
a{
    color: #0d0d0e;
    float: right;
    font-size: 10px;
}
























