*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.one{
    position: absolute;
    top: 20%;
    right: 25%;
    bottom: 20%;
    left: 25%;
    background-color: #2F2E2E;   
}

.sign-up-form{
    position: absolute;
    top: 30%;
    right: 25%;
    bottom: 30%;
    left: 25%;
    background-color: #FFFFFF;   
}
.sign-up-form h5{
    color: #555454;
    margin: 10% auto 0;
    margin-left: 10%;
}
p{
    margin-left: 10%;
    color: #555454;
    font-size: 12PX;
    font-family: calibri;
}
























