*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    background-color:#F6F8F9;
}
.header{
    box-shadow: 0px 0px 0px 2px #D8D3D3;  
    background-color: #FFFFFF;
}
.burger-menu{
    width: 10%;
    float: left;
    padding-left: 2%;
}
.burger-menu-icon{
    width: 33px;
    height: 33px;
    float: left;
}
.user-menu{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
}
.profile-icon{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 1%;
}
.user-menu p{
    font-size: 12px;
    margin-right: 1%;
}
.dropdown-icon{
    width: 15px;
    height:15px;
}
.main-container{
    border: 1px solid rgb(230, 227, 227);
    margin: 2% 2%;
}

.main-container-left{
    width: 10%;
    float: left;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 17%;
}
.requisition{
    font-size: 14px;
    transform: rotate(-90deg);
    padding-right: 200px;
    color: #000000;
    font-weight: bold;
}
.leftside-image{
    width: 70px;
    height: 600px;
    padding-top: 160px;
    padding-bottom: 30px;
}
.main-container-right{
    width: 90%;
    float: right;
}
.main{
    width: 94%;
    margin: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F0F0F0;
    margin-top: 5%;
}
.main-header{
    background: #F0F0F0 0% 0% no-repeat padding-box;
}
.main-header-left{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 18px;
   
}
.main-header-left p{
    font: Bold 1.2vw Roboto;
    letter-spacing: 1.4px;
    color: #505050;
}
.main-header-left span{
    font-size: 1vw;
    letter-spacing: 0.6px;
    color: #747474;
}

.main-header-right{
    float: right;
    border: 1px solid #F0F0F0;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding-left: 3%;
}
.popup{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.items-list1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2vw;
    letter-spacing: 0.78px;
    color: #747474;
    position: relative;
}
button[type="button"]{
    font: Bold 10px Roboto;
    letter-spacing: 0.65px;
    color: #747474;
    border: none;
}
#more {
    display: none;
}
.dropbtn {
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown p:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.menu-icon{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.items-list2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2vw;
    letter-spacing: 0.78px;
    color: #747474;
}
.items-list3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2vw;
    letter-spacing: 0.78px;
    color: #747474;
}
.items-list4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2vw;
    letter-spacing: 0.78px;
    color: #747474;
}
.items-list5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.2vw;
    letter-spacing: 0.78px;
    color: #747474;
}
.footer{
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}
 .footer .btn{
    border-radius: 23px;
    background-color: #32BDD2;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    font-family:  Roboto;
    letter-spacing: 1.2px;

}
.mainpop{
    width: 40%;
    position: absolute;
    top:30%;
    left: 30%;
    display: none;
    justify-content: center;
    align-items: center;
}
.top{
    background-color:#FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #000000;
    border-radius: 25px 25px 0px 0px;
    padding: 3%;
}
.cancel-icon{
    width: 33px;
    height: 33px;
}
.middle{
    background-color: #FFFFFF;
    padding: 3%;
    box-shadow: 0px 0px 25px #000000;
}
.one{
    padding: 2%;
}
.one span{
    font-size: 1.1vw;
    color: #747474;
}
.one textarea{
    margin-top: 1%;
    border-radius: 4px; 
    border: 1px solid #B5B5B5; 
}
.two{
    padding: 2%;
}
.two span{
    font-size: 1.1vw;
    color: #747474;
}
.middle .two input[type="text"]{
    margin-top: 1%;
    border-radius: 4px; 
    border: 1px solid #B5B5B5;
    padding: 1%;
}
.three{
    padding: 2%;
}
.three span{
    font-size: 1.1vw;
    color: #747474;
}
.three-second-div{
    margin-right: 43%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.middle .three input[type="text"]{
    border-radius: 4px; 
    border: 1px solid #B5B5B5;
    padding: 3%;
}
.three .box-icon{
    width: 40px;
    height: 40px;
}
.four{
    padding: 2%;
}
.four span{
    font-size: 1.1vw;
    color: #747474;
}
.middle .four input[type="text"]{
    margin-top: 1%;
    border-radius: 4px; 
    border: 1px solid #B5B5B5;
    padding: 1%;
}
.bottom{
    background-color:#FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -3px 6px #000000;
    border-radius: 0px 0px 37px 37px;
    padding: 4%;
}
.bottom button[type="button"]{
    border-radius: 29px;
    background-color: #32BDD2;
    color: #FFFFFF;
    padding:2% 3%;
    width: 60px;
    height: 30px;
    font-weight: bold;
    font-family: roboto;
}
.bottom a{
    letter-spacing: 1.2px;
    color: #5A5A5A;
    font-size: 1.1vw;
    font-weight: bold;
}